<!DOCTYPE html>
<html>
<head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>EMAIL TO YOU</title>
</head>
<body>

  <h1>HEY YOU! YEAH YOU!</h1>

  <h3><%= @sender %></h3> Checked out your site and sent you this!!

  <div style="border: 2px solid black;">
    <p><%= @body %></p>
  </div>

  <h1>EMAIL THEM BACK YOU PROCRASTINATING SOB!</h1>
  <img src="http://media.giphy.com/media/2tDQZuljhwHTi/giphy.gif" alt="DANCE">

</body>
</html>






